/* Styles */
body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

.page-title {
    color: whitesmoke;
    margin-top: 4rem;
}

.inputs {
    border-radius: 0.7rem;
    width: 20%;
    height: 2rem;
    border: none;
    outline: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.inputs::placeholder {
    text-align: center;
    color: #bcbcbc;
}

.dropdown {
    display: inline-block;
    position: relative;
}

#response {
    color: whitesmoke;
    background-color: #444444;
    border-radius: 0.7rem;
    width: 7rem;
    height: 2rem;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
}

#divFooter {
    display: grid;
    place-items: center;
}

#footer {
    color: darkgray;
    text-align: center;
    font-size: 0.7rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 3rem;
}
